
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-bilibili:before { content: '\e801'; } /* '' */
.icon-translate:before { content: '\e802'; } /* '' */
.icon-expand_less:before { content: '\e803'; } /* '' */
.icon-expand_more:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-pageview:before { content: '\e806'; } /* '' */
.icon-sun:before { content: '\e807'; } /* '' */
.icon-insert_emoticon:before { content: '\e808'; } /* '' */
.icon-rss_feed:before { content: '\e809'; } /* '' */
.icon-moon:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-install:before { content: '\e80c'; } /* '' */
.icon-heart-circled:before { content: '\e80d'; } /* '' */
.icon-chat:before { content: '\e80e'; } /* '' */
.icon-info:before { content: '\e80f'; } /* '' */
.icon-archive:before { content: '\e810'; } /* '' */
.icon-qrcode:before { content: '\e811'; } /* '' */
.icon-swap_vert:before { content: '\e812'; } /* '' */
.icon-folder-add:before { content: '\e813'; } /* '' */
.icon-location:before { content: '\e814'; } /* '' */
.icon-cog:before { content: '\e815'; } /* '' */
.icon-attach-outline:before { content: '\e816'; } /* '' */
.icon-clipboard:before { content: '\e817'; } /* '' */
.icon-forward-outline:before { content: '\e818'; } /* '' */
.icon-link:before { content: '\e819'; } /* '' */
.icon-share:before { content: '\e81a'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-weibo:before { content: '\f18a'; } /* '' */
.icon-facebook:before { content: '\f39e'; } /* '' */
