*.gem
*.log
*.sh
*/*/.DS_Store
*/.DS_Store
.DS_Store

# Cache
.jekyll-cache
.sass-cache
.vscode
.webpack-cache
.pnp.*

# Posts
_archive
_posts/_archive
_posts/_draft

# Bundle
node_modules
vendor
vender
.bundle

# Vercel
.vercel

# dist
dist/*
!dist/app/
dist/assets/*
!dist/assets/
dist/assets/public/*
!dist/assets/public
!dist/assets/public/images/
