<aside class="about about__sticky-container about--top" data-controller="sidebar ripple"
  id="about-container" data-turbo-permanent data-sidebar-list-value="{{ sidebar_list | join: "," }}"
  data-ripple-radius-value="0" data-ripple-fill-value="#f06292" data-action="resize@window->ripple#updateCanvasRect">
  <div class="about__absolute-container">
    <div class="about__avatar" id="avatar" data-action="click->sidebar#toggle"
      data-sidebar-target="avatar">
      <canvas class="sidebar__ripple" data-ripple-target="canvas"></canvas>
      {% picture avatar orange.webp --img alt="site avatar" %}
      <!-- span class="sidebar__toggle"></span -->
    </div>

    <div class="about__header">
      <h2 id="title" class="about__title">
        <a
          href="{% if page.locale == 'en_US' %}/en-us/{% else %}/{% endif %}">{{ site.plainwhite.name }}</a>
      </h2>
    </div>

    {%- if site.plainwhite.tagline -%}
    <p class="about__tagline">{{ site.plainwhite.tagline }}</p>
    {%- endif -%}

    {% include about-footer.html position=include.position %}

  </div>

  {% include sidebar.html %}

  <!-- Place floating button under sidebar so that the floating avatar always shows above the sidebar -->
  <div class="about__avatar about__avatar--float" data-action="click->sidebar#toggle">
    {% picture avatar orange.webp --img alt="site avatar" %}
  </div>

</aside>