<aside class="about" data-action="resize@window->about#updateObserver" data-about-target="about">
  <div class="about__inner" style="--about-top: 20%" data-about-target="inner">
    <div class="about__avatar" id="avatar">
      <a href="{% if page.locale == 'en_US' and site.multilingual == true %}/en-us/{% else %}/{% endif %}">
        {% picture avatar orange.webp --img alt="site avatar" %}
      </a>
    </div>

    <div class="about__header">
      <h2 id="title" class="about__title">
        <a href="{% if page.locale == 'en_US' and site.multilingual == true %}/en-us/{% else %}/{% endif %}"
          >{{ site.plainwhite.name }}
        </a>
      </h2>
    </div>

    {%- if site.plainwhite.tagline -%}
    <p class="about__tagline">{{ site.plainwhite.tagline }}</p>
    {%- endif -%}

    {% include nav-actions.html %}
    
    {% include about-footer.html %}
  </div>
</aside>
