<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png?v=2bA3g2vyYK">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png?v=2bA3g2vyYK">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png?v=2bA3g2vyYK">
<link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg?v=2bA3g2vyYK" color="#dc2267">
<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico?v=2bA3g2vyYK">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml?v=2bA3g2vyYK">