<div class="like__button" data-controller="like" data-like-target="button" data-like-id-value="{{ include.id }}" data-like-liked-value="false" data-like-placeholder-value="{{ include.placeholder }}" data-likes-target="item">
  <span class="heart" data-action="click->like#like mouseover->like#hover mouseleave->like#unhover" data-like-target="heart">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z"/></svg>
  </span>
  <span class="like__count" data-like-target="count"></span>
</div>
{% if include.description %}<div class="like__desc text-center">{{ include.description }}</div>{% endif %}

