<nav class="main-nav">
  <ul class="site-nav">
    <li><a href="{% if page.locale == 'en_US' %}/en-us{% else %}/{% endif %}">HOME</a></li>
    <li><a href="/moods">MOODS</a></li>
    <li><a href="/archive">ARCHIVE</a></li>
    <li><a href="/about">ABOUT</a></li>
  </ul>
  <div class="actions">
    <a href="#" class="icon-search"></a>
    <a href="{% if page.locale == 'en_US' %}/{% else %}/en-us{% endif %}" class="icon-translate"></a>
    <a href="#" class="icon-moon" data-darkmode-target="indicator" data-action="darkmode#toggle"></a>
    <a href="/feed.xml" class="icon-rss_feed"></a>
  </div>
</nav>