<section class="mood-section" data-controller="moods likes">
  {% include posts-label.html type='moods' search=false %}
  <div class="mood-track" data-moods-target="track">
    {% assign sorted_moods = site.moods | sort: 'date' | reverse %}
    {% for mood in sorted_moods limit: 9 %}
      {% capture _ %}
        {% increment mood_index %}
      {% endcapture %}
      {% if mood_index > 3 %}
        {% assign loading="lazy" %}
      {% else %}
        {% assign loading="eager" %}
      {% endif %}
      <div class="mood" data-action="click->portal#addPlayer" data-moods-target="item"
        data-portal-type-param="moods" data-portal-container-class-param="portal__container--mood" href="#">
        {% include mood-image.html mood=mood loading=loading %}
        {% include like-button.html id=mood.id %}
        <template data-portal-target="template">
          <div class="mood__portal">
            <div class="mood__header">
              {% include mood-image.html mood=mood loading=loading %}
              <div class="mood__info">
                <div class="mood__title">{{ mood.title }}</div>
                <div class="mood__time">
                  <i class="icon-calendar"></i>
                  <span class="mood__time--time">{{ mood.date | date: site.plainwhite.mood_time_format | append: " · "}}</span>
                  <span class="mood__time--date">{{ mood.date | date: site.plainwhite.mood_date_format }}</span>
                </div>
                {% include like-button.html id=mood.id %}
              </div>
            </div>
            <div class="mood__content">{{ mood.content }}</div>
          </div>
        </template>
      </div>
    {% endfor %}
    </div>
  <!-- button aria-label="previous mood item" class="mood-button--prev mood-button hide" data-action="moods#prev" data-moods-target="buttonPrev">
    <div class="mood-arrow--prev mood-arrow"></div>
  </button>
  <button aria-label="next mood item" class="mood-button--next mood-button" data-action="moods#next" data-moods-target="buttonNext">
    <div class="mood-arrow--next mood-arrow"></div>
  </button -->
</section>