{% include posts-label.html type='moods' search=false %}
<ul class="mood-track" data-mood-focus="0">
    {% assign sorted_moods = site.moods | sort: 'date' | reverse %}
    {% for mood in sorted_moods %}
    <li class="mood" data-fancybox data-animation-duration="700" data-src="#{{ mood.date | date: '%s' }}" href="javascript:;">
        <div class="mood-excerpt">
            {% if mood.header-image %}
            <div class="mood-header-image" data-caption="{{ mood.title }}" data-path="{{ mood.header-image }}" data-webpack=true></div>
            {% endif %}
            <div class="mood-content">
                <h2>{{ mood.title }}</h2>
                <article>
                    {% if mood.header-image %}{{ mood.content | smart_truncate: 88 }}{% else %}{{ mood.content | smart_truncate: 168 }}{% endif %}
                </article>
            </div>
        </div>
        <div class="mood-meta meta-like">
            <div class="mood-created-at">
                <i class="icon-calendar"></i>
                <span class="mood-time">{{ mood.date | date: site.plainwhite.mood_time_format }} · </span>
                <span class="mood-date">{{ mood.date | date: site.plainwhite.mood_date_format }}</span>
            </div>
            <div class="mood-like like-button"><span class="heart" data-like="{{ mood.id }}" data-liked="false"></span></div>
            <div class="mood-like-count like-count"></div>
        </div>
        <div style="display: none;" id="{{ mood.date | date: '%s' }}" class="animated-modal mood-full">
            <h2>{{ mood.title }}</h2>
            <div class="mood-date">{{ mood.date | date: site.plainwhite.mood_date_full_format }}</div>
            <article>{{ mood.content }}</article>
        </div>
    </li>
    {% endfor %}
    <li class="mood--placeholder">.</li>
</ul>
<button aria-label="previous mood item" class="mood-button--prev mood-button hide">
    <div class="mood-arrow--prev mood-arrow"></div>
</button>
<button aria-label="next mood item" class="mood-button--next mood-button">
    <div class="mood-arrow--next mood-arrow"></div>
</button>