<div class="actions">
  <a href="#" class="icon-search" data-action="click->portal#addPlayer" data-portal-template-param="search-template" data-portal-type-param="search" data-portal-duration-param="false" data-portal-container-class-param="portal__container--search top center" data-portal-destination-param="portal__search" data-portal-animated-exit-param="false"></a>
  <a href="{% if page.locale == 'en_US' and site.multilingual == true %}/{% else %}/en-us{% endif %}" class="icon-translate"></a>
  <a href="#" class="icon-moon" data-darkmode-target="indicator" data-action="darkmode#toggle"></a>
  <a href="/feed.xml" class="icon-rss_feed"></a>
</div>