
<div class="labelgroup{% if include.search %} search{% endif %}" id="{{ include.type }}-labelgroup">
  <h1 class="posts-label">{{ include.type }}</h1>
  {% if include.search %}
  <div class="search-container">
    <div class="search-section">
      <i class="icon-search"></i>
      <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
    </div>
    <div class="search-results" id="search-results" data-placeholder="No results" style="display: none;"></div>
  </div>
  {% endif %}
</div>