<div class="labelgroup{% if include.search %} search{% endif %}" id="{{ include.type }}-labelgroup" {% if include.search %} data-controller="search" data-action="click->search#show" {% endif %}>
  <h1 class="posts-label" {% if include.search %} data-search-target="label" {% endif %}>{{ include.type }}</h1>
  {% if include.search %}
    <div class="search-container">
      <div class="search-section">
        <i class="icon-search"></i>
        <input aria-label="search in posts" autocomplete="off" data-search-target="bar" id="searchbar" name="search" type="text">
      </div>
      <div class="search-results" data-placeholder="No results" data-search-target="results" id="search-results" style="display: none;"></div>
    </div>
  {% endif %}
</div>