<div class="search-template">
  <template data-portal-target="template" id="search-template">
    <div id="search" data-controller="search">
      <div class="search__container" data-search-target="container" data-action="click->search#stopPropagation">
        <div class="search__input">
          <i class="icon-search"></i>
          <input class="search__input-bar" aria-label="search in posts" autocomplete="off" data-search-target="bar" id="searchbar" name="search" type="text">
        </div>
        <div class="search__results" data-placeholder="No results" data-search-target="results" id="search-results"></div>
      </div>
    </div>
  </template>
</div>