<div class="labelgroup{% if include.search %} search{% endif %}"
  id="{{ include.type }}-labelgroup" {% if include.search %}data-controller="search" data-action="click@document->search#hide" {% endif %}>
  {% if include.search %}
  <div class="search__container" data-search-target="container">
    <div class="search__input">
      <input class="search__input-bar" aria-label="search in posts" autocomplete="off" data-search-target="bar"
        id="searchbar" name="search" type="text">
    </div>
    <div class="search__results" data-placeholder="No results" data-search-target="results"
      id="search-results"></div>
  </div>
  {% endif %}

  <div class="posts-label" data-action="click->search#show">
    <a class="posts-label__link{% if include.search %} posts-label__search-icon icon-search{% endif %}" href="{{ include.href | default: "#" }}"
      {% if include.search %}data-search-target="label" {% endif %}>
      <h1 class="posts-label__title">{{ include.type }}</h1>
    </a>
  </div>
</div>