<ul class="sidebar">
  <li class="sidebar__item">
    <a class="sidebar__item-link sidebar__home-button" href="{{ include.home }}"><span class="sidebar__item-icon icon-home"></span>Home</a>
  </li>
  <li class="sidebar__item">
    <a class="sidebar__item-link" href="/about"><span class="sidebar__item-icon icon-info"></span>About</a>
  </li>
  <li class="sidebar__item">
    <a class="sidebar__item-link" href="/archive"><span class="sidebar__item-icon icon-archive"></span>Archive</a>
  </li>
</ul>