<div class="sidebar__container" data-action="click->sidebar#hide">
  <ul class="sidebar">
    {% for item in site.plainwhite.sidebar %}
    {% if page.locale == 'en_US' and site.multilingual == true %}{% assign dest = item.url_en %}{% else %}{% assign dest = item.url %}{% endif %}
    {% include sidebar-item.html href=dest icon=item.icon title=item.title index=forloop.index %}
    {% endfor %}
  </ul>

  <footer class="sidebar__footer {{ condensed_class }}">
    <a class="sidebar__footer-item" href="https://icp.gov.moe/?keyword=20201620" target="_blank" rel="noreferrer">Moe ICP
      20201620</a>
    <a class="sidebar__footer-item" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"
      rel="noreferrer">CC-BY-SA 4.0</a>
  </footer>
</div>