{%- if site.plainwhite.social_links != '' -%}
  <ul class="social {{ condensed_class }}">
    {%- if site.plainwhite.social_links.github -%}
      <li>
        <a aria-label="GitHub Social Link" href="https://github.com/{{ site.plainwhite.social_links.github }}" rel="noreferrer" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fas icon-circle fa-stack-2x"></i>
            <i class="fab icon-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    {%- endif -%}
    {%- if site.plainwhite.social_links.facebook -%}
      <li>
        <a aria-label="Facebook Social Link" href="https://www.facebook.com/{{ site.plainwhite.social_links.facebook }}" rel="noreferrer" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fas icon-circle fa-stack-2x"></i>
            <i class="fab icon-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    {%- endif -%}
    {%- if site.plainwhite.social_links.twitter -%}
      <li>
        <a aria-label="Twitter Social Link" href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}" rel="noreferrer" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fas icon-circle fa-stack-2x"></i>
            <i class="fab icon-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    {%- endif -%}
    {%- if site.plainwhite.social_links.weibo -%}
      <li>
        <a aria-label="Weibo Social Link" href="http://weibo.com/{{ site.plainwhite.social_links.weibo }}" rel="noreferrer" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fas icon-circle fa-stack-2x"></i>
            <i class="fab icon-weibo fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    {%- endif -%}
    {%- if site.plainwhite.social_links.bilibili -%}
      <li>
        <a aria-label="Bilibili Social Link" href="https://space.bilibili.com/{{ site.plainwhite.social_links.bilibili }}" rel="noreferrer" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fas icon-circle fa-stack-2x"></i>
            <i class="icon-bilibili fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    {%- endif -%}
  </ul>
{%- endif -%}