<div id="{{ include.id }}" data-action="bake->portal#addPlayer"
  data-portal-type-param="toasts" data-portal-duration-param="{{ include.duration or 50000}}"
  data-portal-container-class-param="portal__container--toast top center"
  data-portal-destination-param="portal__toast"
  data-portal-container-data-param='{"toastsTarget": "toast"}'
  data-portal-animated-exit-param="true">
  <template data-portal-target="template">
    <div class="toast">
      {{ include.content }}
    </div>
  </template>
</div>