body.dark {
  background-color: $darkBack;

  // React zoom overlay
  div[data-rmiz-overlay] {
    background-color: #171717d4 !important;
  }
}

.dark main,
.dark main * {
  color: $darkTextColor;
  border-color: #e6e6e6;
}

.dark main {
  background-color: $darkBack;
}

.dark main {

  .about .about-footer a,
  .about .about-footer p,
  .tagline {
    @include darkLink(#666);
  }

  .about #pwa-install {
    background-color: $darkSecondary;
    color: #df93e8;

    &.disabled {
      color: #888;
      background-color: #333;
    }

    &.expand {
      background-color: $linkColor;
      color: white;
    }
  }

  .post p {
    color: #ddd;
  }

  .social {

    .icon-circle {
      color: $darkSecondary;
      transition: color 0.3s;
    }

    a:hover .icon-circle {
      color: $darkLinkColor;
    }
  }

  /* Code highlighting */
  @import 'ext/solarized-dark';

  .highlight,
  .highlight * {
    background-color: #00080a;
    color: #93a1a1;
  }

  div.highlight-dark {
    padding: 5px 20px;
  }

  pre.highlight-dark,
  code {
    font-family: 'Consolas', Menlo, monospace;
    line-height: 1.4em;
    tab-size: 4;
  }

  /* Tag pills */
  .post-categories {
    li {
      background-color: $darkSecondary;
      color: #fff;
    }
  }

  /* Links */
  a {
    @include darkLink($darkLinkColor, $darkTextColor);
  }

  .navigation a {
    @include darkLink($darkTextColor);
  }

  a.post-link:hover {

    h2,
    h3 {
      color: $darkLinkColor;
    }
  }

  #title a {
    @include darkLink(#fff);
  }

  /* LabelGroup */
  .posts-label {
    color: $darkTextColor;
  }

  .labelgroup {
    border-bottom: 1px solid #333;

    .search-results {
      background-color: $darkSecondary;

      a {
        color: white;
        transition: none;
        
        &:hover {
          background-color: $champagne;

          &::before {
            color: white;
          }
        }
      }
    }

    .search-section {

      input {
        background-color: transparent;
      }
    }
  }

  .labelgroup:hover {

    i {
      color: white;
    }

    input {
      color: white;
    }
  }


  .labelgroup.focus-within {

    .search-section {
      background-color: $darkSecondary;
    }

    input {
      color: $darkTextColor;
      background-color: $darkSecondary;
    }

    i {
      color: white;
    }
  }

  /* Archive tagcloud */
  .button,
  #tag-cloud .tag-button,
  #show-tags {
    background-color: $darkSecondary;
    @include darkLink($darkTextColor, $darkTextColor);
  }

  /* Moods */
  .mood {
    border: 2px solid #888;

    @media screen and (min-width: $midScreenW + 1) {

      &:hover {
        background-color: $darkBack;
        box-shadow: 0px 4px 12px 5px #333232;
      }
    }

    &>* {
      background: transparent;
    }
  }

  .mood-button {

    .mood-arrow {
      border-color: $darkTextColor;
    }

    &::before {
      background-color: $darkSecondary;
    }
  }

  // MicroModal
  .modal__overlay {
    background: rgba(0, 0, 0, 0.75);
  }

  .modal__container {
    background-color: $darkBack;
  }
}

/* Table */

.dark table {

  th,
  td {
    border: 1px solid $darkSecondary;
  }

  th {
    background-color: #0d0d0d;
  }
}