body.dark {
  background-color: $dark-800;
}

.dark main {
  background-color: $dark-800;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $darkTextColor;
  }
}

.dark main {

  .about .about-footer a,
  .about .about-footer p,
  .about .tagline {
    @include link-hover(#666);
  }

  .about #pwa-install {
    background-color: $dark-700;
    color: #df93e8;

    &.disabled {
      color: #888;
      background-color: #333;
    }

    &.expand {
      background-color: $linkColor;
      color: white;
    }
  }

  footer.about.condensed {

    @media screen and (max-width: $midScreenW) {
      border-top: 1px solid $dark-200;
    }
  }

  .post,
  .post p,
  .post-date,
  .post-like {
    color: #ddd;
  }

  .social {

    .icon-circle {
      color: $dark-700;
      transition: color 0.3s;
    }

    a:hover .icon-circle {
      color: $darkLinkColor;
    }
  }

  /* Sidebar */
  .sidebar {
    .sidebar__item .sidebar__item-link {
      @include link-hover($darkTextColor, $darkLinkColor);
    }
  }

  /* Code highlighting */
  @import 'ext/solarized-dark';

  .highlight,
  .highlight * {
    background-color: #00080a;
    color: #93a1a1;
  }

  div.highlight-dark {
    padding: 5px 20px;
  }

  pre.highlight-dark,
  code {
    font-family: 'Consolas', Menlo, monospace;
    line-height: 1.4em;
    tab-size: 4;
  }

  /* Tag pills */
  .post-categories {
    li {
      background-color: $dark-700;
      color: #fff;
    }
  }

  /* Links */
  a {
    @include link-hover($darkLinkColor, $darkTextColor);
  }

  .navigation a {
    @include link-hover($darkTextColor);
  }

  a.post-link:hover,
  .post-preview:hover,
  .post-item:hover {

    .post-title,
    .post-subtitle {
      color: $darkLinkColor;
    }
  }

  #title a {
    @include link-hover(#fff);
  }

  .post-pager li a {
    span {
      color: #929298;
    }

    &:hover span {
      color: $darkTextColor;
    }
  }

  /* Labelgroup */
  .posts-label__title {
    color: $darkTextColor;
  }

  .labelgroup {

    .posts-label__search-icon::before {
      color: white;
    }

    .search__results {
      color: $darkTextColor;
      background-color: $dark-700;

      a {
        color: $darkTextColor;
        transition: none;

        &:hover {
          background-color: $champagne;

          &::before {
            color: $darkTextColor;
          }
        }
      }
    }

    input {
      background-color: transparent;
    }
  }

  .labelgroup:hover {

    input {
      color: white;
    }
  }


  .labelgroup.focus-within {

    input {
      color: $darkTextColor;
      background-color: $dark-700;
    }
  }

  /* Archive tagcloud */
  #tag-cloud .tag-button,
  #show-tags {
    background-color: $dark-700;
    @include link-hover($darkTextColor, $darkTextColor);

    &:hover,
    &:active,
    &.focus {
      color: white;
      background-color: $darkLinkColor;
    }
  }

  .tag-text {
    color: #ddd;
  }

  /* Moods */
  .mood {
    border: 2px solid #888;

    .mood-meta {
      color: #93a1a1;
    }

    @media screen and (min-width: $midScreenW + 1) {

      &:hover {
        background-color: $dark-800;
        box-shadow: 0px 4px 12px 5px #333232;
      }
    }
  }

  .mood-button {

    .mood-arrow {
      border-color: $darkTextColor;
    }

    &::before {
      background-color: $dark-700;
    }
  }

  /* Table */

  table {

    th,
    td {
      border: 1px solid $dark-700;
    }

    th {
      background-color: #0d0d0d;
    }


    tr:nth-child(2n),
    thead {
      background-color: $dark-750;
    }
  }

  // Select
  select {
    background: $dark-800;
  }

  #vcomments.v {
    color: $darkTextColor;
  }

  // Valine
  #vcomments.v .vwrap {
    border: 2px solid $dark-200;

    .vheader .vinput {
      border-bottom: 1px solid $dark-700;

      &:hover,
      &:focus {
        border-bottom: 1px solid $pinky;
      }
    }
  }

  // Gothic Blockquote
  blockquote.g_bq {
    color: $lightGrey;
  }
}