/* Mixins */

@mixin modal-animation-end {
  transform: translateY(0);
  opacity: 1;
}

@mixin button {
  text-decoration: none;
  background: var(--button-background) !important;
  cursor: pointer;
  font-size: 15px;
  color: var(--button-text-color) !important;
  margin: 0 4px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 200ms ease;

  &:hover {
    background: var(--button-hover-background) !important;
    color: var(--button-hover-text-color) !important;
  }
}

@mixin sans-serif {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-display: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

@mixin serif {
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-display: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

@mixin pager {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "next prev";
  column-gap: 5%;

  .pager--prev {
    grid-area: prev;
  }

  .pager--next {
    grid-area: next;
  }
}

@mixin link-hover($before, $after: $darkLinkColor) {
  color: $before;

  &:hover {
    color: $after;
  }
}

@mixin color-transition() {
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@mixin transform-transition() {
  transition: transform 1s cubic-bezier(.19, 1, .22, 1);
}

@mixin like-button() {
  background-color: #9e9e9e61;
  backdrop-filter: blur(23px);
  display: flex;

  &:hover {
    background-color: #f06292bd;
  }

  &.like__button--liked svg {
    fill: #f06292;
  }

  &.like__button--liked:hover svg {
    fill: crimson;
  }
}