.mood-section {
  position: relative;

  .labelgroup {
    margin-bottom: 2.8rem;
  }
}

.mood-track {
  column-count: 2;
  column-gap: 75px;
  --mood-border-color: rgb(245, 245, 247);
  --mood-meta-color: #{$dark-300};

  @media screen and (max-width: $mobileW) {
    column-count: 1;
  }

  .mood {
    break-inside: avoid;
    margin-bottom: 4rem;
    position: relative;

    .mood__cover {
      cursor: pointer;
      // Remove blue square on tap
      -webkit-tap-highlight-color: transparent;
      outline: 0;
      margin-bottom: 1rem;
    }

    .mood__cover--image img {
      border: 1px solid var(--mood-border-color);
      border-radius: 1rem;
      height: auto;
      width: 100%;
    }

    .mood__content {
      .mood__header {
        margin-bottom: 1.2rem;

        .mood__info {
          line-height: 1.5rem;
        }
      }

      .mood__title {
        display: inline;
        padding-right: 5px;
      }

      // The mood author and date
      .mood__meta {
        color: var(--mood-meta-color);
      }

      .mood__text {
        line-height: 1.7em;
      }
    }
  }
}

/* Moods page */

.moods-container {
  .mood-track:first-child {
    margin-top: 4rem;
  }
}
