.mood-section {
  position: relative;

  .labelgroup {
    margin-bottom: 1.5rem;
  }
}

.mood-track {
  column-count: 2;
  column-gap: 75px;
  --mood-border-color: rgb(245, 245, 247);

  .mood {
    margin-bottom: 4rem;
    position: relative;

    .mood__cover {
      cursor: pointer;
      // Remove blue square on tap
      -webkit-tap-highlight-color: transparent;
      outline: 0;
    }

    .mood__cover--image img {
      border: 1px solid var(--mood-border-color);
      height: auto;
      width: 100%;
    }

    .mood__content {
      margin-top: 25px;

      .mood__header {
        margin: 20px 0;
      }

      .mood__title {
        display: inline;
      }

      // The mood author and date
      .mood__meta {
        color: $dark-400;
      }

      .mood__text {
        line-height: 1.7em;
      }
    }
  }
}
