.mood-section {
  position: relative;
}

.mood-track {
  list-style: none;
  display: flex;
  overflow: auto;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
  justify-content: space-between;

  &::-webkit-scrollbar {
    display: none;
  }

  .mood {
    border: 2px solid $lightGrey;
    border-radius: 8px;
    flex: 0 0 280px;
    margin: 4px 8px 20px;
    position: relative;
    transition: flex .5s ease, margin .5s ease, width .5s ease, border .5s, box-shadow 0.5s ease;
    vertical-align: top;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;

    @media screen and (max-width: $midScreenW) {

      &.focus {
        border: 2px solid #ff94c2;
        box-shadow: 0 0 0 1px #ff94c2;
      }
    }

    @media screen and (min-width: $midScreenW + 1) {
      flex: 0 0 484px;
      margin: 16px 20px 18px 20px;
      width: 484px;
      min-height: 440px;

      &:hover {
        box-shadow: 0 2px 3px 0 rgba(60, 64, 67, 0.15), 0 6px 10px 4px rgba(60, 64, 67, 0.15);
      }
    }

    &:first-child {
      margin-left: 10px;

      @media screen and (min-width: $mobileW + 1) {
        margin-left: 0.8em;
      }
    }

    .mood-header-image {
      grid-area: header-image;
    }

    .mood-detail {
      grid-area: content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }

  .mood-header-image {

    img {
      height: auto;
      width: 100%;
      // object-fit: cover;
      // https://stackoverflow.com/questions/38361657/why-does-my-html5-picture-have-a-height-outside-of-its-img-and-why-does-it-n
      display: block;
    }
  }

  .mood-content {
    padding: 2em $moodPadding 1.5em $moodPadding;

    @media (max-width: $midScreenW) {
      padding: 2em $smallMoodPadding 1.5em $smallMoodPadding;
    }

    h2 {
      margin: 1.8em 0 1.6em 0;

      @media screen and (max-width: $midScreenW) {
        margin-bottom: 0.8em;
      }
    }

    article {
      line-height: 1.35em;

      * {
        margin: 0.6em 0;
      }
    }

    article.mood-content__full, article.mood-content__mobile  {
      display: none;
    }

    article.mood-content__mid-screen {
      display: block;
    }

    @media screen and (max-width: $midScreenW) {
      article.mood-content__mid-screen {
        display: none;
      }

      article.mood-content__mobile {
        display: block;
      }
    }
  }

  .mood-meta {
    padding: 1.5em $moodPadding 2em $moodPadding;
    margin: 0.5em 0;
    color: #555;

    @media (max-width: $midScreenW) {
      padding: 1em $smallMoodPadding 2em $smallMoodPadding;
    }
  }

  .mood-header-image+.mood-detail .mood-content {
    padding-top: 0;
    padding-bottom: 0;

    h2 {
      margin: 1.6em 0 0.9em 0;
    }
  }
}

// Globalize mood-meta for reuse in mood portal
.mood-meta {
  display: flex;
  align-items: normal;

  .mood-time {
    display: none;

    @media screen and (min-width: $midScreenW + 1) {
      display: inline;
    }
  }

  .like__button {
    position: relative;

    .heart {
      position: absolute;
      top: -50%;
      transform: translateY(-12%);
    }
  }

  .like__count {
    margin-left: 40px;
  }
}


/*
*
*  Placeholder for the moods track
*
*/

.mood--placeholder {
  border: none;
  display: flex;
  flex: 1 0 20%;
  list-style: none;
  margin: 10px;
  min-width: 20%;
  position: relative;
  visibility: hidden;

  @media screen and (min-width: 768px) {
    flex: 1 0 30%;
    min-width: 30%;
  }
}

/*
*
*  Styles for mood buttons
*
*/

.mood-button {
  background: 0 0;
  background-color: transparent !important;
  border: none;
  display: none;
  padding: 0;
  position: absolute;
  top: 50%;

  @media screen and (min-width: $mobileW) {
    display: inline-block;
    height: 68px;
    opacity: 1;
    padding: 3px;
    transition: visibility .2s, opacity .2s ease-in-out;
    visibility: visible;
    width: 68px;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &.mood-button--prev {
    left: 5px;
  }

  &.mood-button--next {
    right: 5px;
  }

  &::before {
    background: #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: .8;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(30, 30, 30, .12);
    transition: all 0.3s ease;
  }

  &:hover::before {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
    opacity: 1;
  }

  &:focus {
    outline: 0;

    &::before {
      box-shadow: 0 0 0 3px #ff94c2, 0 5px 4px rgba(0, 0, 0, .12);
      opacity: 1;
    }
  }

  .mood-arrow {
    background-color: transparent !important;
    border-top: solid 2px #414141;
    border-right: solid 2px #414141;
    height: 18px;
    position: absolute;
    top: 25px;
    width: 18px;
  }


  .mood-arrow--prev {
    transform: rotate(-135deg);
    left: calc(50% - 5px);
    transition: left .5s;
  }

  .mood-arrow--next {
    transform: rotate(45deg);
    right: calc(50% - 5px);
    transition: right .5s;
  }
}
