/* post label and search */
/* hack ios safari unfocus */
main {
  outline: none;
}

.labelgroup {
  margin: 0 0 0.67em 0;
  position: relative;

  .posts-label {
    cursor: pointer;
    padding: 10px 0;
  }

  .posts-label__link {
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  .posts-label__title {
    font-size: 15px;
    color: #555;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
    transition: color 130ms ease;
    // Make sure underline ::after is visible
    z-index: 1;
    position: relative;

    &:hover {
      color: $dark-700;
    }
  }

  .posts-label__search-icon::before {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 100%;
    color: #777;
    padding: 10px 12px;
    transition: color 500ms, left 230ms cubic-bezier(0.24, 0.04, 0.2, 1);
    font-size: 15px;
    z-index: 2;
  }

  /* Search components */

  .search__container {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 4px 6px 0 #33333359, 0px -1px 2px 0px #33333317;
  }

  .search__input {
    border-bottom: 1px solid #dfe2e5;

    input {
      background: $searchBackground;
      color: #555;
      font-size: 15px;
      height: 39px;
      border: none;
      padding: 10px 15px 10px 45px;
      outline: none;
      width: 100%;
    }
  }

  .search__results {
    background: $searchBackground;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    font-size: 15px;

    &:empty::before {
      content: attr(data-placeholder);
      padding: 6px 25px 6px 14px;
    }

    // Search result items
    a {
      padding: 6px 5px;
      text-decoration: none;
      display: flex;
      margin: 0 10px;
      border-radius: 3px;

      &::before {
        margin-right: 14px;
        padding: 0 3px;
        color: #9aa0a6;
      }

      &:hover {
        color: black;
        background-color: $pinkLight;

        &::before {
          color: #586e75;
        }
      }
    }
  }

  &.focus-within {

    .search__container {
      display: block;
      animation: 200ms ease 1 mmfadeIn forwards;
    }

    input {
      color: black;
    }

    .posts-label__search-icon::before {
      color: $linkColor;
      left: 5px;
    }
  }
}