/* post label and search */
/* hack ios safari unfocus */
main {
  outline: none;
}

.labelgroup {
  margin: 0 0 0.67em 0;
  position: relative;

  .posts-label {
    display: flex;
    align-items: center;

    /* Firefox flex hack */
    @-moz-document url-prefix() {
      align-items: center;
    }
  }

  .posts-label__link {
    text-decoration: none;
  }

  .posts-label__title {
    font-size: 15px;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 10px 0;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    z-index: 1;
    transition: color 130ms ease;

    &:hover {
      color: $darkTextColor;

      &::before {
        height: 22px;
      }
    }

    &::before {
      content: "";
      background: #ba68c8bb;
      width: 100%;
      height: 5px;
      display: block;
      position: absolute;
      bottom: 20%;
      z-index: -1;
      transition: height 130ms ease;
    }
  }

  .posts-label__search-icon {
    cursor: pointer;
    color: #777;
    flex-grow: 1;
    padding: 10px 12px;
    transition: color 0.5s;
    font-size: 15px;
  }

  // Search components

  .search__container {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 3;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 6px 0 #33333359, 0px -1px 2px 0px #33333317;
  }

  .search__input {
    border-bottom: 1px solid #dfe2e5;

    input {
      background: $searchBackground;
      color: #555;
      font-size: 15px;
      height: 40px;
      border: none;
      padding: 10px 15px;
      outline: none;
      width: 100%;
    }
  }

  .search__results {
    background: $searchBackground;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    font-size: 15px;

    &:empty::before {
      content: attr(data-placeholder);
      padding: 6px 25px 6px 14px;
    }

    // Search result items
    a {
      padding: 6px 10px;
      text-decoration: none;
      display: flex;
      margin: 0 5px;
      border-radius: 3px;

      &::before {
        content: '\e805';
        @include fontello();
        margin-right: 14px;
        padding: 0 3px;
        color: #9aa0a6;
      }

      &:hover {
        color: black;
        background-color: $pinkLight;

        &::before {
          color: #586e75;
        }
      }
    }
  }

  &:hover {

    .posts-label__search-icon {
      color: $linkColor;
    }
  }

  &.focus-within {

    .search__container {
      display: block;
    }

    input {
      color: black;
    }
  }
}