/* post label and search */
/* hack ios safari unfocus */
main {
  outline: none;
}

.labelgroup {
  margin: 0 0 0.67em 0;
  position: relative;

  .posts-label {
    cursor: pointer;
    padding: 10px 0;
  }

  .posts-label__link {
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  .posts-label__title {
    @include posts-label();
  }
}

.portal__container--search {
  pointer-events: visible;
  backdrop-filter: blur(2px);
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1)
  );
}

#search {
  display: flex;
  justify-content: center;
  /* Search components */

  .search__container {
    background: $searchBackground;
    width: min(400px, 100%);
    margin: 20vh 20px;
    z-index: 2;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 8px 10px -6px rgba(0, 0, 0, 0.1);
  }

  .search__input {
    background: transparent;
    align-items: center;
    border-bottom: 1px solid #dfe2e5;
    display: flex;

    .icon-search {
      padding: 0 17px;
      color: $violet;
      font-size: 15px;
    }

    input {
      background: transparent;
      color: $dark-400;
      font-size: 15px;
      height: 50px;
      border: none;
      padding: 10px 0;
      outline: none;
      width: 100%;
    }
  }

  .search__results {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    font-size: 15px;

    &:empty::before {
      content: attr(data-placeholder);
      padding: 6px 25px 6px 14px;
    }

    // Search result items
    a {
      padding: 6px 5px;
      text-decoration: none;
      display: flex;
      margin: 0 10px;
      border-radius: 3px;

      &::before {
        margin-right: 14px;
        padding: 0 3px;
        color: #9aa0a6;
      }

      &:hover {
        color: black;
        background-color: $lightPink;

        &::before {
          color: #474747;
        }
      }
    }
  }
}
