/* Hux add tags support */

.tags {
  margin-bottom: -5px;
}

#tag-heading {
  padding: 70px 0 60px;
}

@media only screen and (min-width: $mobileW) {
  #tag-heading {
    padding: 55px 0;
  }
}

#tag-cloud {
  align-items: flex-start;
  align-content: flex-start;
  display: flex;
  height: 108px;
  gap: 12px 10px;
  flex-wrap: wrap;
  overflow: hidden;

  .tag-button {
    text-decoration: none;

    & > .sup {
      margin-left: 4px;
      font-weight: 700;
      line-height: 18px;
      font-size: 80%;
      position: relative;
      top: -4px;
      pointer-events: none;
    }

    &.focus {
      background: $violet;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px,
        rgba(0, 0, 0, 0.239216) 0 1px 4px;
    }
  }

  .tag-button--all {
    font-weight: 700;
    color: $violet;

    &:hover {
      color: white;
    }
  }
}

.tag-button {
  @include button();
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  border-radius: 5px;
  flex: 1 1 auto;
  padding: 0 8px;
  text-align: center;
}

.tag-comments {
  font-size: 12px;
}

@media only screen and (min-width: $mobileW) {
  .tag-comments {
    font-size: 14px;
  }
}

.t:first-child {
  margin-top: 0px;
}

.listing-seperator {
  color: $violet;
  font-size: 21px !important;
  display: inline-block;
  margin: 20px 0;
}

.listing-seperator::before {
  margin-right: 5px;
}

@media only screen and (min-width: $mobileW) {
  .listing-seperator {
    font-size: 20px !important;
    line-height: 2 !important;
  }
}

.mini-post-list {
  margin: 20px 0 15px 0;

  .post-link {
    margin: 0;
  }

  .tag-text {
    font-weight: 200;
    line-height: 1.7;
  }

  .post-item {
    position: relative;
    border-bottom: solid 1px #e3e3e3;
    margin: 1rem 0;

    .post-series__name {
      font-size: 16px;
      margin-bottom: 2px;
    }

    .post-title {
      font-size: 16px;
      font-weight: 500;
    }

    .post-subtitle {
      font-size: 13px;
    }

    .post-meta {
      position: absolute;
      right: 5px;
      bottom: 0px;
      margin: 0px;
      font-size: 12px;
      line-height: 12px;
    }
  }

  @media only screen and (min-width: ($mobileW + 1)) {
    .post-item {
      margin-left: 20px;

      .post-title {
        font-size: 18px;
        line-height: 1.3;
      }

      .post-subtitle {
        font-size: 14px;
        margin-bottom: 0.5em;
      }

      .post-meta {
        font-size: 18px;
      }
    }
  }
}

/* Tags support End*/
