/* Hux add tags support */
.d-none {
  display: none !important;
}

.tags {
  margin-bottom: -5px;
}

#tag-heading {
  padding: 70px 0 60px;
}

@media only screen and (min-width: $mobileW) {
  #tag-heading {
    padding: 55px 0;
  }
}

#tag-cloud {
  margin: 8px -4px 0 -4px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  transition: height 0.5s;

  .tag-button {
    text-decoration: none;

    @media only screen and (min-width: $mobileW) {
      margin-right: 5px;
    }

    &>.sup {
      margin-left: 4px;
      font-weight: 700;
      line-height: 18px;
      font-size: 80%;
      position: relative;
      top: -4px;
    }

    &:hover,
    &:active,
    &.focus {
      background-color: $linkColor !important;
      color: #fff;
    }
  }

  a.tag-button[rel="1"] {
    display: none;

    &.hover,
    &.focus,
    &.visited {
      display: block;
    }
  }

  @media only screen and (min-width: $mobileW) {
    margin: 8px -4px 0 11px;
  }
}

#tag-cloud .tag-button.focus {
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.239216) 0 1px 4px;
}

#tag-cloud .tag-button.tag-button--all {
  font-weight: 700;
  color: $linkColor;
}

#tag-cloud a.tag-button--all:hover,
#tag-cloud .tag.tag-button--all:hover,
#tag-cloud a.tag-button--all:active,
#tag-cloud .tag.tag-button--all:active,
#tag-cloud a.tag-button--all.focus,
#tag-cloud .tag.tag-button--all.focus {
  // background-color: #e4e4e4 !important;
  color: #fff;
}

// Show Tags Button
#show-tags,
.tag-button {
  @include button;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  margin-bottom: 8px;
  border-radius: 2px;
  flex: 1 1 auto;
  padding: 0 8px;
  text-align: center;
}

#show-tags {
  @media only screen and (min-width: $mobileW) {
    margin-left: 15px;
  }

  margin-left: 0;
  margin-right: 0;
}

.tag-comments {
  font-size: 12px;
}

@media only screen and (min-width: $mobileW) {
  .tag-comments {
    font-size: 14px;
  }
}

.t:first-child {
  margin-top: 0px;
}

.listing-seperator {
  color: $linkColor;
  font-size: 21px !important;
  display: inline-block;
  margin: 20px 0;
}

.listing-seperator::before {
  margin-right: 5px;
}

@media only screen and (min-width: $mobileW) {
  .listing-seperator {
    font-size: 20px !important;
    line-height: 2 !important;
  }
}

.mini-post-list {
  margin: 20px 0 15px 0;
}

.mini-post-list .tag-text {
  font-weight: 200;
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  // font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
}

.mini-post-list .post-preview {
  position: relative;
  border-bottom: solid 1px #e3e3e3;
}

.mini-post-list .post-preview>a {
  text-decoration: none;
}

.mini-post-list .post-preview>a .post-title {
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.mini-post-list .post-preview>a .post-subtitle {
  font-size: 13px;
  margin-bottom: 0.5em;
}

.mini-post-list .post-preview>.post-meta {
  position: absolute;
  right: 5px;
  bottom: 0px;
  margin: 0px;
  font-size: 12px;
  line-height: 12px;
}

@media only screen and (min-width: $mobileW) {
  .mini-post-list .post-preview {
    margin-left: 20px;
  }

  .mini-post-list .post-preview>a>.post-title {
    font-size: 18px;
    line-height: 1.3;
  }

  .mini-post-list .post-preview>a>.post-subtitle {
    font-size: 14px;
    margin-bottom: 0.5em;
  }

  .mini-post-list .post-preview .post-meta {
    font-size: 18px;
  }
}

/* Tags support End*/