/* Everybody talks */

.talk__message_area:empty::before {
  content: attr(data-placeholder);
}

.talk-container {
  color: var(--text-color);

  // Talk configuration panel
  .talk__config {
    width: 450px;
    background: var(--background);
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0 0 0 /.25), 0 4px 8px 0 rgba(0 0 0 /.25);
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 1.5em 2em;
    top: 100%;
    left: 0;
    z-index: 2;

    @media screen and (max-width: $mobileW) {
      width: 100%;
      padding: 10px 30px;
    }
  }

  .talk__config-icon {
    margin-left: 10px;
    opacity: 0.8;
  }

  .form-group {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 1em 0;
    width: 100%;

    label {
      flex: 0 1 auto;
      border-radius: 20px;
      background: $lightPurple;
      padding: 5px 12px 5px 10px;
      color: white;
      margin-right: 15px;
    }

    .form-field {
      flex: 1 1 auto;
      position: relative;

      .muted-text {
        position: absolute;
        top: 110%;
        left: 0;
      }
    }

    .text-field,
    .select {
      border: none;
      border-bottom: solid 2px #bbb;
      color: var(--text-color);
      padding: 5px 5px;
      width: 100%;
      background: 0 0;
    }
  }

  // Config bottom actions
  .talk__config-actions {
    align-self: flex-end;
    margin: 1.5em 0 1em 0;

    .button {
      padding: 6px 20px;
      border: none;
      border-radius: 4px;
      margin-left: 15px;
      margin-right: 0;
    }

    .talk__config-close-btn {
      --button-background: transparent;
    }
  }

  // On config open
  &.config-open {
    .talk__config {
      display: flex;
      animation: 240ms ease 1 mmfadeIn forwards;
    }

    .talk__config-icon::before {
      animation: 300ms ease 1 cogSpin forwards;
    }
  }

  .talk__info {
    margin: 1em 0;
  }

  // Messagebox
  .talk__message-box {
    margin: 1em 0 0.5em 0;

    .talk__message {
      color: var(--text-color);
      padding: 1em;
      width: 100%;
      border-radius: 15px;
      border: none;
      background: $lightGrey;
      resize: vertical;

      &:focus-visible {
        outline: 0;
        box-shadow: 0 0 0 3px #ff94c2a1;
      }
    }
  }

  // Qrcode
  // Qrcode wrapper
  .talk__qrcode {
    width: 184px;
    height: 184px;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 1em 0;
    cursor: pointer;
    background: #f6f6f6d6;

    &:hover {
      background: #eee;
    }
  }

  .talk__qrcode-group {
    flex-direction: column;
    align-items: center;
  }

  // Talk actions
  .talk__message-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
  }

  .talk__action {
    border-color: transparent !important;
    background: 0 0;
    margin-left: 5px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    padding: 0;

    .fa-stack-1x {
      color: white;
    }

    .fa-stack-2x.icon-circle {
      color: $pinky;
    }

    &:hover {

      .fa-stack-2x.icon-circle {
        color: $lightPurple;
      }
    }

    &:active {
    
      .fa-stack-2x.icon-circle {
        color: $linkColor;
      }
    }

    &::before {
      content: attr(data-label);
      color: $dark-200;
      font-size: 12px;
      left: 0;
      top: calc(100% + 5px);
      width: 100%;
      text-align: center;
      pointer-events: none;
      position: absolute;
    }
  }

  .talk__action[disabled] {
    cursor: auto;
    pointer-events: none;

    .stack-layer {
      color: rgba(16 16 16 /.3);
    }
  }

  // Hide file input and style label instead
  #talk__file {
    position: absolute;
    height: 0.1px;
    width: 0.1px;
    opacity: 0;
  }

  .talk__file-name {
    color: $dark-400;
    font-size: 14px;
    overflow: hidden;
    margin-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::before {
      margin-right: 3px;
    }

    &:empty::before {
      display: none;
    }
  }
}

.talk-container[data-talk-qr-value=false] {

  .talk__qrcode::before {
    content: "\e811\20QRCode";
    font-family: "fontello", "Raleway", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}