/* Everybody talks */

.talk__message_area:empty::before {
  content: attr(data-placeholder);
}

.talk-container {
  --talk-background: #{$lightGrey};
  --talk-avatar-border-color: #e6e6e6;
  color: var(--text-color);

  // Talk configuration panel
  .talk__config {
    background: var(--background);
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / .2), 0 4px 8px 0 rgb(0 0 0 / .2), 0px 8px 16px 0 rgb(0 0 0 / .2);
    column-gap: 30px;
    display: none;
    grid-template-columns: auto 300px;
    grid-template-rows: auto auto;
    grid-template-areas: "qr form""qr actions";
    position: absolute;
    padding: 1.5em 2em;
    top: 100%;
    left: 0;
    z-index: 2;

    @media screen and (max-width: $smallScreenW) {
      width: 100%;
      padding: 10px 30px;
    }

    .talk__qrcode-group {
      grid-area: qr;
    }

    .talk__config-form {
      grid-area: form;
    }

    .talk__config-actions {
      grid-area: actions;
    }
  }

  // Qrcode
  // Qrcode wrapper
  .talk__qrcode-group {
    margin: 1em 0;

    @media screen and (max-width: $smallScreenW) {
      text-align: center;
    }
  }

  .talk__qrcode {
    width: 184px;
    height: 184px;
    border: 2px solid var(--input-border-color);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
    background: #f6f6f6d6;

    @media screen and (max-width: $smallScreenW) {
      margin: 1em auto 0.5em auto;
    }

    &:hover {
      background: #eee;
    }
  }

  .talk__config-icon {
    margin-left: 10px;
    opacity: 0.8;
  }

  .form-group {
    width: 100%;

    .muted-text {
      position: absolute;
      top: 110%;
      left: 0;
    }

    .text-field,
    .select {
      color: var(--text-color);
    }
  }

  .talk__config-server {
    display: flex;
    flex-wrap: nowrap;

    .talk__server {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .talk__server-selector {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: #dfe2e545;
      flex: 1 0 80px;
      font-size: 14px;
      margin-left: -2px;
    }
  }

  // Config bottom actions
  .talk__config-actions {
    text-align: right;
    margin: 1.5em 0 1em 0;

    @media screen and (max-width: $smallScreenW) {
      margin-top: 3em;
    }

    .button {
      padding: 6px 20px;
      border: none;
      border-radius: 4px;
      margin-left: 15px;
      margin-right: 0;
    }

    .talk__config-close-btn {
      --button-background: transparent;
    }
  }

  // On config open
  &.config-open {
    .talk__config {
      display: grid;
      animation: 240ms ease 1 mmfadeIn forwards;

      @media screen and (max-width: $smallScreenW) {
        display: block;
      }
    }

    .talk__config-icon::before {
      animation: 300ms ease 1 cogSpin forwards;
    }
  }

  .talk__info {
    margin: 1em 0;
  }

  // Messagebox
  .talk__message-box {
    border-radius: 15px;
    margin: 1em 0 0.5em 0;
    overflow: hidden;
    position: relative;

    &.progress::before {
      background: #eeeeee96;
      content: "";
      top: calc(100% - 5px);
      left: 0;
      position: absolute;
      width: calc(var(--progress) * 100%);
      height: 5px;
    }

    .talk__message-textarea {
      background: var(--talk-background);
      color: var(--text-color);
      display: block;
      padding: 1em;
      width: 100%;
      border: none;
      resize: vertical;

      &:focus-visible {
        outline: 0;
        box-shadow: 0 0 0 3px #ff94c2a1;
      }
    }
  }

  // Talk actions
  .talk__message-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
  }

  .talk__action {
    border-color: transparent !important;
    background: 0 0;
    margin-left: 5px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    padding: 0;

    .fa-stack-1x {
      color: white;
    }

    .fa-stack-2x.icon-circle {
      color: $pinky;
    }

    &:hover {

      .fa-stack-2x.icon-circle {
        color: $lightPurple;
      }
    }

    &:active {

      .fa-stack-2x.icon-circle {
        color: $linkColor;
      }
    }

    &::before {
      content: attr(data-label);
      color: $dark-200;
      font-size: 12px;
      left: 0;
      top: calc(100% + 5px);
      transform: none;
      width: 100%;
      transition: all ease .2s;
      text-align: center;
      pointer-events: none;
      position: absolute;
    }
  }

  .talk__action[disabled] {
    cursor: auto;
    pointer-events: none;

    .stack-layer {
      color: rgba(16 16 16 /.3);
    }

    &::before {
      top: 50%;
      transform: scale(0);
    }
  }

  // Hide file input and style label instead
  #talk__file {
    position: absolute;
    height: 0.1px;
    width: 0.1px;
    opacity: 0;
  }

  .talk__file-name {
    color: $dark-400;
    font-size: 14px;
    overflow: hidden;
    margin-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::before {
      margin-right: 3px;
    }

    &:empty::before {
      display: none;
    }
  }

  // Message area
  // Talk logs in general
  .talk__log {
    display: flex;
    gap: 10px;
    max-width: 60%;
    margin: 1.5em 0;
    align-items: flex-start;

    .talk__log-avatar {
      overflow: hidden;
      border-radius: 8px;
      border: solid 3px var(--talk-avatar-border-color);
      flex: 0 0 54px;

      svg {
        display: block;
        transform: scale(1.25);
      }
    }

    .talk__log-text {
      background: var(--talk-background);
      border-radius: 15px;
      padding: 10px 15px;
      position: relative;
      overflow-wrap: anywhere;
      overflow: hidden;
    }
  }

  // Specific styling for incomming and outgoing messages
  .talk__log--outgoing {
    animation: 0.5s 1 yMessageFlyIn forwards;
    transform: translateY(-120%) scale(0);
    flex-flow: row-reverse;
    margin-left: auto;
    opacity: 0.3;
    transform-origin: 90% 0;

    .talk__log-text {
      background: $lightPurple;
      color: white;
    }
  }

  .talk__log--incoming {
    animation: 0.5s 1 xMessageFlyIn forwards;
    opacity: 0;
    transform: translateX(-80%);
  }
}

.talk-container[data-talk-qr-value=false] {

  .talk__qrcode::before {
    content: "\e811\20QRCode";
    font-family: "fontello", "Raleway", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}