.float-md-end {
  float: right;

  @media screen and (max-width: $mobileW) {
    float: none;
  }
}

.d-inline-block {
  display: inline-block;
}

.float-start {
  float: left;
}

.float-end {
  float: right;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.d-none {
  display: none;
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-md-1 {
  margin-left: 1em;

  @media screen and (max-width: $mobileW) {
    margin-left: none;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
