.float-md-end {
  float: right;

  @media screen and (max-width: $mobileW) {
    float: none;
  }
}

.d-inline-block {
  display: inline-block;
}

.float-start {
  float: left;
}

.float-end {
  float: right;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.d-none {
  display: none;
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-md-1 {
  margin-left: 1em;

  @media screen and (max-width: $mobileW) {
    margin-left: none;
  }
}

.text-center {
  text-align: center;
}

.muted-text {
  font-size: 12px;
  color: $dark-200;
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes toastIn {
  from {
    opacity: 0;
    transform: perspective(100px) translate3d(0, -100px, -80px);
  }

  to {
    opacity: 1;
    transform: perspective(100px) translate3d(0, 0, 0);
  }
}

@keyframes toastOut {
  from {
    opacity: 1;
    transform: perspective(100px) translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: perspective(100px) translate3d(0, -100px, -80px);
  }
}

@keyframes ripple {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(3);
  }
}

@keyframes rippleIn {
  from {
    transform: scale(2);
  }

  to {
    transform: scale(0);
  }
}

@keyframes xMessageFlyIn {
  to {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateX(0);
    opacity: 1;
    text-shadow: none;
  }
}

@keyframes yMessageFlyIn {
  to {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes envelopeOut {
  0% {
    top: 0;
    transform: translateX(0) scale(0);
  }

  40% {
    top: -55%;
    transform: translateX(0) scale(2);
  }

  100% {
    top: -100%;
    transform: translateX(500px) scale(0);
  }
}

@keyframes avatarIn {
  to {
    transform: translateY(-40%);
  }
}

@keyframes sidebarMobile {
  from {
    transform: translateY(100%);
  }

  to {
    transform: none;
  }
}

@keyframes cogSpin {
  from {
    transform: none;
  }

  to {
    transform: rotate(360deg);
    color: var(--link-hover-color);
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}