/* Variables */

$linkColor: #9C27B0;
$pinky: #ff94c2;
$pinkLight: #ffc1dc;
$champagne: #b75680;
$smallMobileW: 480px;
$mobileW: 600px;
$midScreenW: 1024px;
$bigScreenW: 1600px;

$leftWidth: 220px;
$maxWidth: 1000px;

$buttonBackground: #e3e3e3;

$moodPadding: 2.6em;
$smallMoodPadding: 2em;

$darkTextColor: #f6f6f6;
$darkLinkColor: #e584f6;
$darkSecondary: #333;
$darkBack: #171717;