/* Imports */

@import "modern-normalize";
@import "variables";
@import "mixins";
@import "ext/fonts";
@import "syntax";
@import "utility";
@import "search";
@import "tagcloud";
@import "moods";
@import "love_incubator";
@import "talk";
@import "controllers";
@import "post";
@import "dark";

/*
 * General definitions
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: var(--link-text-color);
}

:root {
  --about-width: 252px;
  --background: white;
  --button-background: #{$buttonBackground};
  --button-text-color: #616161;
  --button-hover-text-color: white;
  --button-hover-background: #0e7b73;
  --container-width: 1080px; // The main container width
  --content-width: 700px; // The main content width
  --input-border-color: rgba(0, 0, 0, 0.25);
  --input-label-color: white;
  --gap: 1rem;
  // Link colors
  --link-text-color: #{$dark-800};
  --link-hover-color: #{$violet};
  // Menu item colors
  --menu-text-color: #{$dark-400};
  --menu-hover-color: #{$dark-800};
  --menu-action-color: #7d7d7d; // Used in menu action icons
  font-size: 16px;

  @media screen and (max-width: $bigScreenW) {
    --about-width: 238px;
    --container-width: 956px;
    --content-width: 658px;
  }

  @media screen and (max-width: 1280px) {
    --about-width: 226px;
  }
}

body {
  @include sans-serif();
  line-height: 1.2em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
embed,
object,
video {
  max-width: 100%;
}

h2 {
  margin: 0.7em 0;

  @media screen and (max-width: $mobileW) {
    margin: 0.3em 0;
  }
}

.button {
  @include button();
}

/*
 * Element main
 */

main {
  // Set to relative to allow positioning about between wide-start and main-start
  position: relative;
}

.grid-canvas {
  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--gap), auto)
    [wide-start] var(--about-width)
    [main-start] min(var(--content-width, 720px), calc(100% - var(--gap) * 2))
    [main-end]
    calc(
      (
        var(--container-width, 1200px) - var(--content-width, 720px) -
          var(--about-width)
      )
    )
    [wide-end] minmax(var(--gap), auto)
    [full-end];
}

.grid-contents > :not(.grid-contents) {
  grid-column: main-start / main-end;

  &.wide {
    grid-column: wide-start / wide-end;
  }

  &.full {
    grid-column: full-start / full-end;
  }
}

.page-container > :first-child {
  margin-top: 2.5rem;
}

/* Navigations in main */

.main-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  margin-bottom: 1rem;

  .site-nav {
    display: flex;
    gap: 35px;

    li > a {
      @include posts-label();
    }
  }

  .actions {
    align-items: center;
    display: flex;
    gap: 22px;

    a {
      --link-hover-color: var(--menu-hover-color);
      color: var(--menu-action-color);
      text-decoration: none;
      @include link-hover();
      @include color-transition(0.15s);
    }

    .icon-search {
      font-size: 20px;
    }

    .icon-translate {
      font-size: 17px;
    }

    .icon-moon {
      font-size: 16px;
    }

    .icon-rss_feed {
      font-size: 19px;
    }
  }
}

/*
 * About section containing the avatar and name of the site
 */

main.grid-contents .about {
  grid-column: wide-start / main-start;
}

.about {
  --avatar-size: 136px;
  height: 100%;
  margin-top: 12rem;
  opacity: 1;
  position: absolute;
  transition: opacity 200ms ease;
  z-index: 1;

  @media screen and (max-width: $midScreenW) {
    --avatar-size: 105px;
  }

  @media screen and (max-width: $mobileW) {
    --avatar-size: 90px;
  }

  &.intersecting {
    opacity: 0;
    pointer-events: none;
    transition: opacity 180ms ease;
  }

  .about__inner {
    // Keep the about section sticky
    position: sticky;
    top: var(--about-top, 30%);

    // Align about items in the center
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .about__avatar {
    img {
      aspect-ratio: 1;
      border-radius: 3px;
      cursor: pointer;
      // Avoid picture tag overflow
      display: block;
      height: var(--avatar-size);
      width: var(--avatar-size);
    }
  }

  /* About header */

  .about__header {
    margin-top: 1.1rem;

    .about__title {
      font-size: 24px;
      color: #222222;
      font-weight: normal;

      a {
        text-decoration: none;
      }
    }
  }

  .about__tagline {
    --link-hover-color: #d5429c;
    font-size: 23px;
    margin-top: 0;
    color: #666;
    cursor: default;
    white-space: pre-wrap;
    line-height: normal;
    text-align: center;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin-bottom: 0.8rem;
    @include link-hover();
  }

  .about__title,
  .about__tagline {
    text-align: center;

    @media screen and (max-width: $midScreenW) {
      text-align: left;
    }
  }

  p {
    text-align: center;
  }

  .sidebar__footer a,
  .navigation a,
  .social a {
    text-decoration: none;
    @include color-transition();
  }

  .about__timestamp {
    margin-top: 1.5em;
  }

  .about__footer {
    text-align: center;
  }
}

.about__footer-bottom {
  display: none;
  padding-top: 40px;

  @media screen and (max-width: $midScreenW) {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 20px 0;
    border-top: 1px solid $lightGrey;
  }
}

/* About section social icons */

.social {
  list-style: none;
  padding: 0;

  .fa-stack {
    font-size: 0.9rem;
    width: 2.3rem;
  }

  li {
    display: inline-block;
  }

  // Fix incorrect width for bilibili icon
  .icon-bilibili:before {
    width: auto;
  }
}

/*
 * Post list
 */

.post-item {
  margin-top: 4rem;
  margin-bottom: 5rem;

  // When hovering over a post item, highlight the header within
  &:hover {
    .post-header {
      color: var(--link-hover-color);
    }
  }
}

.post-series {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 0.64rem;
  font-weight: 400;

  h3 {
    margin: 0;
  }
}

.post-header {
  --link-hover-color: #{$rose};
  display: block;
  margin: 0;
  margin-bottom: 1em;
  transition: color 160ms cubic-bezier(0.03, 0.6, 0.62, 0.95);
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  padding: 0;

  .tag {
    --button-background: #dce9e9;
    --button-text-color: #0d4435;
    @include button();
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 20px;
  }

  .tag:first-child {
    --button-background: #145752;
    --button-text-color: white;
  }
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.9rem;

  @media screen and (max-width: $mobileW) {
    flex-direction: column-reverse;
    align-items: baseline;

    .post-date {
      margin-bottom: 16px;
    }
  }
}

.post-date {
  margin-right: 10px;
  margin-left: 20px;
  color: $dark-400;
  flex: 1 0 auto;
  text-align: right;
}

i.icon-calendar {
  margin: 0 10px 0 2px;
}

.post-link {
  text-decoration: none; // Remove underlines from post excerpts
}

.post-title {
  font-size: 28px;
  line-height: 1.2em;
  margin: 10px 0;
}

.post-subtitle {
  margin: 10px 0;
}

.content {
  list-style-type: none;
  margin: 45px auto;
  max-width: 1113px;
  position: relative;
  min-height: 100vh;

  @media screen and (max-width: $midScreenW) {
    width: auto;
    margin: 0;
    padding: 0;
  }
}
