.float-md-end {
    float: right;

    @media screen and (max-width: $mobileW) {
        float: none;
    }
}

.d-inline-block {
    display: inline-block;
}

.float-start {
    float: left;
}

.float-end {
    float: right;
}