@import "ext/fonts";
@import "ext/normalize";
@import "syntax";

$linkColor: #9C27B0;
$mobileW: 768px;
$smallMobileW: 480px;
$bigScreenW: 1600px;
$leftWidth: 220px;
$maxWidth: 1000px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-display: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  ;
  font-size: 16px;
  line-height: 1.2em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a {
  color: #000;
  transition: color 0.3s;

  &:hover {
    color: $linkColor;
  }
}

h2 {
  margin: 0.7em 0;
}

main {
  margin: 0 90px;
  display: flex;
  height: 100%;

  @media screen and (min-width: $bigScreenW) {
    margin: 0 auto;
    max-width: 1440px;
  }

  @media screen and (max-width: 1280px) {
    margin: 0 75px;
  }

  @media screen and (max-width: 1024px) {
    margin: 0 35px;
  }

  @media screen and (max-width: $mobileW) {
    margin: 0 10px;
    flex-direction: column;
  }

  @media screen and (max-width: $smallMobileW) {
    margin: 0;
  }

  .content {
    @media screen and (min-width: $mobileW + 1) {
      max-width: calc(100% - #{$leftWidth});
      margin-left: $leftWidth;
      width: 100%;
    }
  }
}

.about {
  display: flex;
  height: 100vh;
  //padding-bottom: 15vh;

  @media screen and (max-width: $mobileW) {
    height: auto;
    padding: 10vh 0;
  }

  @media screen and (min-width: $mobileW + 1) {
    position: fixed;
    max-width: 280px;
  }

  min-width: $leftWidth;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 0;
    color: #222222;
    font-weight: normal;
  }

  .tagline {
    font-size: 22px;
    margin-top: 17px;
    color: #666;
    white-space: pre-wrap;
    line-height: normal;
    text-align: center;
    transition: color 0.3s;

    &:hover {
      color: $linkColor;
    }
  }

  img {
    max-width: 150px;
    border-radius: 0.2rem;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  p {
    text-align: center;
  }

  .buttons {
    padding-left: 0;

    li {
      display: inline-block;
      list-style: none;
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  .button {
    background: #e3e3e3;
    border-radius: 24px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 1em;
    transition: all 0.2s;
    font-size: 15px;
    color: #616161;

    i {
      margin-right: 3px;
    }

    &:hover {
      background: $linkColor;
      color: white;
    }
  }

  .about-footer {

    a,
    p {
      color: #424242;
      transition: color 0.3s;

      &:hover {
        color: $linkColor
      }
    }
  }
}

#title {
  a {
    text-decoration: none;
  }
}

.social {
  list-style: none;

  .fa-stack {
    font-size: 1em;
  }

  padding: 0;
  margin-top: 0;

  li {
    display: inline-block;
  }
}

.navigation {

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    li:last-child {
      a {
        border-bottom: 0;
      }
    }

    a {
      display: block;
      font-family: 'Merriweather';
      font-weight: 300;
      text-align: center;
      padding: 1rem 0;
      text-decoration: none;
      border-bottom: 1px solid #ececec;

      @media screen and (max-width: $mobileW) {
        padding: 1em 0;
      }
    }
  }
}

.post-wrapper {
  border-bottom: 1px solid #ececec;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.post-categories {
  margin: 0;
  padding: 0;

  a {
    font-size: 14px;
    float: left;
    background-color: #e3e3e3;
    border-radius: 2px;
    /*@media screen and (max-width: $mobileW) {
    margin-top: 5px;
    }*/
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.2s;
    text-decoration: none;
    padding: 5px 20px;

    &:hover {
      background-color: $linkColor;
      color: white;
    }
  }
}

.post-date {
  margin-right: 10px;
  color: #555;
  min-width: 150px;
  margin-top: auto;
  margin-bottom: auto;

  i {
    margin: 0 .4em 0 .2em;
  }
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $mobileW) {
    flex-direction: column-reverse;
    align-items: baseline;

    .post-date {
      margin-bottom: 16px;
    }
  }
}

.post-link {
  text-decoration: none;
}

.multilingual-title {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 20px;

  .post-title {
    margin-top: 0;
  }

  a.translate {
    line-height: 1.2em;
    margin: 0 0.5em 10px 0;
    border-radius: 2px;
    padding: 4px 8px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    font-size: 20px;

    &:hover {
      background-color: $linkColor;
      color: white;
    }
  }
}

.post-title {
  line-height: 1.2em;
  font-size: 28px;
  margin-bottom: 10px;
}

.post-subtitle {
  margin-top: 0;
}

.post-container {
  list-style-type: none;
  margin: 45px 30px;
  max-width: $maxWidth;

  /*@media screen and (max-width: $smallMobileW) {
    padding: 0 !important;
    margin-top: 0;
  }*/
  @media screen and (max-width: $smallMobileW) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media screen and (max-width: $mobileW) {
    padding: 0 !important;
    margin-top: 0;
  }
}

.posts {
  list-style-type: none;
  margin: 35px 30px 45px 30px;
  max-width: $maxWidth;

  /*@media screen and (max-width: $smallMobileW) {
    padding: 0 !important;
    margin-top: 0;
  }*/
  @media screen and (max-width: $smallMobileW) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media screen and (max-width: $mobileW) {
    padding: 0 !important;
    margin-top: 0;
  }
}

.post-container {
  padding-left: 30px;
  max-width: $maxWidth;
}

ul.posts {
  .post-title {
    margin-top: 40px;
  }
}

.post {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  color: #222;
  line-height: 1.9em;

  a {
    color: $linkColor;
    text-decoration: none;
    transition: border-bottom 0.4s;

    &:hover {
      border-bottom: 0.5px solid $linkColor;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Raleway, sans-serif;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 80%;

    @media screen and (max-width: $mobileW) {
      max-width: 100%;
    }

    &:focus,
    &:hover {
      cursor: zoom-in;
    }
  }
}

.button {
  background-color: #e3e3e3;
}

/* pagination */
.pagination-links {
  list-style-type: none;
  margin: 45px 30px;
  padding-bottom: 60px;
  max-width: $maxWidth;

  @media screen and (max-width: $smallMobileW) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media screen and (max-width: $mobileW) {
    padding: 0;
    padding-bottom: 40px;
    margin-top: 0;
  }

  li {

    a {
      line-height: 1.2em;
      font-size: 0.95em;
      text-decoration: none;
      background-color: #ededed;
      padding: 6px 25px;
      border-radius: 2px;
      transition: all 0.2s;
      display: inline-block;
      min-width: 95px;
      text-align: center;

      &:hover {
        background-color: $linkColor;
        color: white;
      }
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.pager {
  display: inline-block;
  width: 100%;

  ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    li {
      width: 48%;
      display: flex;

      a {
        width: 100%;
        line-height: 1.2em;
        font-size: 0.95em;
        text-decoration: none;
        background-color: #ededed;
        padding: 6px 25px;
        border-radius: 2px;
        transition: all 0.2s;
        display: inline-block;
        min-width: 95px;
        text-align: center;

        span {
          font-size: 0.8em;
          color: #555;
          transition: all 0.2s;
        }

        &:hover {
          background-color: $linkColor;
          color: white;

          span {
            color: white;
          }
        }
      }


    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }
}

select.sel-lang {
  padding: 0px 1px 2px 1px;
  margin-top: 40px;
  margin-bottom: 20px;
  background: white;
  border: none;
  border-bottom: solid 1px black;
}

/* Vcomments */
#vcomments.v .vwrap .vheader .vinput {
  border-bottom: 1px solid #dedede;
  transition: border-color 0.3s;

  &:hover,
  &:focus {
    border-bottom: 1px solid #ba68c8;
  }
}

#vcomments.v {

  .vbtn:active,
  .vbtn:hover {
    color: #fff;
    border-color: #ba68c8;
    background-color: #ba68c8;
  }

  a:before {
    background: $linkColor;
  }

  .vpower.txt-right {
    display: none;
  }

  .vemoji-btn,
  .vpreview-btn {
    color: #BDBDBD;
    transition: color 0.3s;

    &:hover,
    &.actived {
      color: $linkColor;
    }
  }
}

#vcomments.v .vwrap {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
  padding: 10px;
}

/* video iframe */
.video-iframe {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.video-iframe iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* Picture Caption */
a+em {
  font-size: 0.9em;
  color: #666;
  display: block;
  margin-bottom: 1em;
  text-align: center;
}

/* Block Quote */
blockquote {
  color: #555;
}

blockquote.g_bq {
  font: italic 600 32px EB Garamond, serif;
  font-style: italic;
  quotes: '\201c''\201d''\2018''\2019';
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  color: #282828;
  border: none;

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }
}

/* GitHub table styling */
table {
  padding: 0;
  word-break: initial;
}

table tr {
  border-top: 1px solid #dfe2e5;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n),
thead {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #dfe2e5;
  margin: 0;
  padding: 6px 13px;
}

table tr th:first-child,
table tr td:first-child {
  margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
  margin-bottom: 0;
}