@import "ext/fonts";
@import "ext/normalize";
@import "syntax";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

$linkColor: #9C27B0;
$mobileW: 768px;
$smallMobileW: 480px;
$bigScreenW: 1600px;
$leftWidth: 220px;
$maxWidth: 1000px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-display: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;;
  font-size: 16px;
  line-height: 1.2em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a {
  color: #000;
  transition: color 0.3s;

  &:hover {
    color: $linkColor;
  }
}

h2 {
  margin: 0.7em 0;
}

main {
  margin: 0 90px;
  display: flex;
  height: 100%;

  @media screen and (min-width: $bigScreenW) {
    margin: 0 auto;
    max-width: 1440px;
  }

  @media screen and (max-width: 1280px) {
    margin: 0 75px;
  }

  @media screen and (max-width: 1024px) {
    margin: 0 35px;
  }

  @media screen and (max-width: $mobileW) {
    margin: 0 10px;
    flex-direction: column;
  }

  @media screen and (max-width: $smallMobileW) {
    margin: 0;
  }

  .content {
    @media screen and (min-width: $mobileW + 1) {
      max-width: calc(100% - #{$leftWidth});
      margin-left: $leftWidth;
      width: 100%;
    }
  }

  .about {
    display: flex;
    height: 100vh;
    padding-bottom: 15vh;

    @media screen and (max-width: $mobileW) {
      height: auto;
      padding: 10vh 0;
    }

    @media screen and (min-width: $mobileW + 1) {
      position: fixed;
    }

    min-width: $leftWidth;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 22px;
      margin-top: 25px;
      margin-bottom: 0;
      color: #222222;
      font-weight: normal;
    }

    .tagline {
      font-size: 22px;
      margin-top: 17px;
      color: #aaa;
      white-space: pre-wrap;
      line-height: normal;
      text-align: center;
      transition: color 0.3s;

      &:hover {
        color: $linkColor;
      }
    }

    img {
      max-width: 150px;
      border-radius: 0.2rem;
      cursor: pointer;
    }

    a {
      text-decoration: none;
    }

    p {
      text-align: center;
    }
  }
}

#title {
  a {
    text-decoration: none;
  }
}

.social {
  list-style: none;

  .fa-stack {
    font-size: 1em;
  }

  padding: 0;
  margin-top: 0;

  li {
    display: inline-block;
  }
}

.navigation {
  width: 30%;

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;

    li:last-child {
      a {
        border-bottom: 0;
      }
    }

    a {
      display: block;
      font-family: 'Merriweather';
      text-align: center;
      padding: 1rem 0;
      text-decoration: none;
      border-bottom: 1px solid #ececec;

      @media screen and (max-width: $mobileW) {
        padding: 1em 0;
      }
    }
  }
}

.post-wrapper {
  border-bottom: 1px solid #ececec;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.post-categories {
  margin: 0;
  padding: 0;

  a {
    font-size: 14px;
    border: solid 1px #e3e3e3;
    float: left;
    background-color: #e3e3e3;
    border-radius: 2px;
    /*@media screen and (max-width: $mobileW) {
    margin-top: 5px;
    }*/
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.2s;
    text-decoration: none;
    padding: 5px 20px;

    &:hover {
      background-color: #F5F5F5;
    }
  }
}

.post-date {
  margin-right: 10px;
  color: #555;
  min-width: 150px;
  margin-top: auto;
  margin-bottom: auto;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $mobileW) {
    flex-direction: column-reverse;
    align-items: baseline;

    .post-date {
      margin-bottom: 16px;
    }
  }
}

.post-link {
  text-decoration: none;
}

.multilingual-title {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  a.translate {
    line-height: 1.2em;
    margin: 20px 0.5em 10px 0;
    background-color: #e3e3e3;
    border-radius: 2px;
    padding: 7px 6px 3px 6px;
    transition: all 0.3s;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $linkColor;
      color: white;
    }
  }
}

.post-title {
  line-height: 1.2em;
  font-size: 28px;
  margin-bottom: 10px;
}

.post-subtitle {
  margin-top: 0;
}

.posts,
.post-container {
  list-style-type: none;
  margin: 45px 30px;
  max-width: $maxWidth;

  /*@media screen and (max-width: $smallMobileW) {
    padding: 0 !important;
    margin-top: 0;
  }*/
  @media screen and (max-width: $smallMobileW) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media screen and (max-width: $mobileW) {
    padding: 0 !important;
    margin-top: 0;
  }
}

.post-container {
  padding-left: 30px;
  max-width: $maxWidth;
}

ul.posts {
  .post-title {
    margin-top: 40px;
  }
}

.post {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  color: #222;
  line-height: 1.9em;

  a {
    color: $linkColor;
    text-decoration: none;
    transition: border-bottom 0.4s;

    &:hover {
      border-bottom: 0.5px solid $linkColor;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Raleway, sans-serif;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;

    &:focus,
    &:hover {
      cursor: zoom-in;
    }
  }
}

#posts-label {
  border-bottom: 1px solid #eee;
  font-size: 15px;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  font-weight: normal;
}

/* pagination */

.pagination-links {
  list-style-type: none;
  margin: 45px 30px;
  padding-bottom: 60px;
  max-width: $maxWidth;

  @media screen and (max-width: $smallMobileW) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media screen and (max-width: $mobileW) {
    padding: 0;
    padding-bottom: 40px;
    margin-top: 0;
  }

  li {

    a {
      line-height: 1.2em;
      font-size: 0.95em;
      text-decoration: none;
      border: solid 1px #ededed;
      background-color: #ededed;
      padding: 6px 25px;
      border-radius: 2px;
      transition: all 0.2s;
      display: inline-block;
      min-width: 95px;
      text-align: center;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.pager {
  display: inline-block;
  width: 100%;

  ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    li {
      width: 48%;
      display: flex;

      a {
        width: 100%;
        line-height: 1.2em;
        font-size: 0.95em;
        text-decoration: none;
        border: solid 1px #ededed;
        background-color: #ededed;
        padding: 6px 25px;
        border-radius: 2px;
        transition: all 0.2s;
        display: inline-block;
        min-width: 95px;
        text-align: center;

        span {
          font-size: 0.8em;
          color: #555;
        }

        &:hover {
          background-color: #f5f5f5;
        }
      }


    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }
}

select.sel-lang {
  padding: 0px 1px 2px 1px;
  margin-top: 40px;
  margin-bottom: 20px;
  background: white;
  border: none;
  border-bottom: solid 1px black;
}

/* Vcomments */

#vcomments.v .vwrap .vheader .vinput {
  border-bottom: 1px solid #dedede;

  &:hover,
  &:focus {
    border-bottom: 1px solid #ba68c8;
  }
}

#vcomments.v {

  .vbtn:active,
  .vbtn:hover {
    color: #ba68c8;
    border-color: #ba68c8;
    background-color: #fff;
  }

  a:before {
    background: $linkColor;
  }
}

#vcomments.v .vwrap {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
  padding: 10px;

  &:hover,
  &:focus {
    border: 2px solid #ba68c8;
  }
}

/* video iframe */

.video-iframe {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.video-iframe iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* Picture Caption */

a+em {
  font-size: 0.9em;
  color: #666;
  display: block;
  margin-bottom: 1em;
  text-align: center;
}

/* Block Quote */

blockquote {
  color: #555;
}

blockquote.g_bq {
  font: italic 600 32px EB Garamond, serif;
  font-style: italic;
  quotes: '\201c''\201d''\2018''\2019';
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  color: #282828;
  border: none;

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }
}

/* GitHub table styling */
table {
  padding: 0;
  word-break: initial;
}

table tr {
  border-top: 1px solid #dfe2e5;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n),
thead {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #dfe2e5;
  margin: 0;
  padding: 6px 13px;
}

table tr th:first-child,
table tr td:first-child {
  margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
  margin-bottom: 0;
}

/* Hux add tags support */
.d-none {
  display: none !important;
}

.archive {
  padding-left: 40px;

  @media screen and (max-width: 768px) {
    padding-bottom: 300px !important;
  }
}

.tags {
  margin-bottom: -5px;
}

.tags.tags-sup a,
.tags.tags-sup .tag {
  padding: 0 10px 0 12px;
}

.tags a,
.tags .tag {
  display: flex;
  //border: 1px solid rgba(255, 255, 255, 0.8);
  //border-radius: 999em;
  //padding: 0 10px 0 10px;
  color: #424242;
  //line-height: 24px;
  //font-size: 12px;
  //text-decoration: none;
  //margin: 0 1px;
  //margin-bottom: 6px;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
}

.tags a>.sup,
.tags .tag>.sup {
  margin-left: 4px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
  font-size: 50%;
}

.tags a:hover,
.tags .tag:hover,
.tags a:active,
.tags .tag:active {
  color: white;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {

  .tags a,
  .tags .tag {
    margin-right: 5px;
  }
}

#tag-heading {
  padding: 70px 0 60px;
}

@media only screen and (min-width: 768px) {
  #tag-heading {
    padding: 55px 0;
  }
}

#tag_cloud {
  margin: 8px -4px 0px -4px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  transition: height 0.5s;

  a.tag-button[rel="1"] {
    display: none;

    &.hover,
    &.focus,
    &.visited {
      display: flex;
    }
  }
}

#tag_cloud a,
#tag_cloud .tag {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  font-size: 14px;
  border: none;
  line-height: 28px;
  margin: 0 4px;
  margin-bottom: 8px;
  background-color: #e3e3e3;
  border-radius: 2px;
}

#tag_cloud a:hover,
#tag_cloud .tag:hover,
#tag_cloud a:active,
#tag_cloud .tag:active,
#tag_cloud a.focus,
#tag_cloud .tag.focus {
  background-color: $linkColor !important;
  color: #fff;
}

#tag_cloud a.focus,
#tag_cloud .tag.focus {
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.239216) 0 1px 4px;
}

#tag_cloud a.tag-button--all,
#tag_cloud .tag.tag-button--all {
  font-weight: 700;
  color: $linkColor !important;
}

#tag_cloud a.tag-button--all:hover,
#tag_cloud .tag.tag-button--all:hover,
#tag_cloud a.tag-button--all:active,
#tag_cloud .tag.tag-button--all:active,
#tag_cloud a.tag-button--all.focus,
#tag_cloud .tag.tag-button--all.focus {
  background-color: #e4e4e4 !important;
}

@media only screen and (min-width: 768px) {
  #tag_cloud {
    margin-bottom: 25px;
    margin-left: 15px;
  }
}

// Show Tags Button
#show-tags {
  display: none;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  font-size: 14px;
  border: none;
  line-height: 28px;
  background-color: #e3e3e3;
  border-radius: 2px;
  padding: 0 12px 0 12px;
  margin-bottom: 15px;

  &:hover {
    background-color: $linkColor;
    color: #fff;
  }

  @media only screen and (max-width: 768px) {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

.tag-comments {
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .tag-comments {
    font-size: 14px;
  }
}

.t:first-child {
  margin-top: 0px;
}

.listing-seperator {
  color: $linkColor;
  font-size: 21px !important;
  display: inline-block;
  margin: 20px 0;
}

.listing-seperator::before {
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  .listing-seperator {
    font-size: 20px !important;
    line-height: 2 !important;
  }
}

.mini-post-list {
  margin: 20px 0 15px 0;
}

.mini-post-list .tag-text {
  font-weight: 200;
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  // font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
}

.mini-post-list .post-preview {
  position: relative;
  border-bottom: solid 1px #e3e3e3;
}

.mini-post-list .post-preview>a {
  text-decoration: none;
}

.mini-post-list .post-preview>a .post-title {
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.mini-post-list .post-preview>a .post-subtitle {
  font-size: 13px;
  margin-bottom: 0.5em;
}

.mini-post-list .post-preview>.post-meta {
  position: absolute;
  right: 5px;
  bottom: 0px;
  margin: 0px;
  font-size: 12px;
  line-height: 12px;
}

@media only screen and (min-width: 768px) {
  .mini-post-list .post-preview {
    margin-left: 20px;
  }

  .mini-post-list .post-preview>a>.post-title {
    font-size: 18px;
    line-height: 1.3;
  }

  .mini-post-list .post-preview>a>.post-subtitle {
    font-size: 14px;
    margin-bottom: 0.5em;
  }

  .mini-post-list .post-preview .post-meta {
    font-size: 18px;
  }
}

/* Tags support End*/