<% for (const js of htmlWebpackPlugin.files.js) { %>
  <% if (js.indexOf("application") != -1) { %>
    <script src="<%= js %>"></script>
  <% } %>
<% } %>

<% const entries = Object.keys(webpackConfig.entry).filter(ent => ent != "application") %>
{% case page.javascript %}
<% for (const entry of entries) { %>
  <% for (const js of htmlWebpackPlugin.files.js) { %>
    <% if (js.indexOf(entry) != -1) { %>
      {% when "<%= entry %>" %}
      <script src="<%= js %>"></script>
    <% } %>
  <% } %>
<% } %>
{% endcase %}

<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
