<!DOCTYPE html>
<html lang="{% if page.locale == 'en_US' %}en{% else %}zh{% endif %}">

<head>
  {%- include head.html -%}
</head>

<body>
  <main class="container">
    <section class="about">
      <a href="{% if page.locale == 'en_US' %}/en-us/{% else %}/{% endif %}">
        <picture>
          <source type="image/webp" srcset="/img/orange320x320.webp"> 
          <img src="{{ "/img/orange240x240.png" | relative_url }}" alt="{{ site.plainwhite.name }}">
        </picture>
      </a>
      <h2 id="title">
        <a href="{% if page.locale == 'en_US' %}/en-us/{% else %}/{% endif %}">{{ site.plainwhite.name }}</a>
      </h2>
      <p class="tagline">{{ site.plainwhite.tagline }}</p>
      <ul class="social">
        {%- if site.plainwhite.social_links.github -%}
        <li>
          <a target="_blank" rel="noreferrer" href="https://github.com/{{ site.plainwhite.social_links.github }}" aria-label="GitHub Social Link">
            <span class="fa-stack fa-2x">
              <i class="fas icon-circle fa-stack-2x"></i>
              <i class="fab icon-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {%- endif -%}
        {%- if site.plainwhite.social_links.facebook -%}
        <li>
          <a target="_blank" rel="noreferrer" href="https://www.facebook.com/{{ site.plainwhite.social_links.facebook }}" aria-label="Facebook Social Link">
            <span class="fa-stack fa-2x">
              <i class="fas icon-circle fa-stack-2x"></i>
              <i class="fab icon-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {%- endif -%}
        {%- if site.plainwhite.social_links.twitter -%}
        <li>
          <a target="_blank" rel="noreferrer" href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}" aria-label="Twitter Social Link">
            <span class="fa-stack fa-2x">
              <i class="fas icon-circle fa-stack-2x"></i>
              <i class="fab icon-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {%- endif -%}
        {%- if site.plainwhite.social_links.weibo -%}
        <li>
          <a target="_blank" rel="noreferrer" href="http://weibo.com/{{ site.plainwhite.social_links.weibo }}" aria-label="Weibo Social Link">
            <span class="fa-stack fa-2x">
              <i class="fas icon-circle fa-stack-2x"></i>
              <i class="fab icon-weibo fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {%- endif -%}
        {%- if site.plainwhite.social_links.bilibili -%}
        <li>
          <a target="_blank" rel="noreferrer" href="https://space.bilibili.com/{{ site.plainwhite.social_links.bilibili }}" aria-label="Bilibili Social Link">
            <span class="fa-stack fa-2x">
              <i class="fas icon-circle fa-stack-2x"></i>
              <i class="icon-bilibili fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {%- endif -%}
      </ul>

      {% if page.locale == 'en_US' %}<a href="/" class="language-selection"><i class="icon-translate"></i>中CH</a>{% else %}<a href="/en-us/" class="language-selection"><i class="icon-translate"></i>英EN</a>{% endif %}

      {%- if site.plainwhite.navigation -%}
      <nav class="navigation">
        <ul>
          {% for link in site.plainwhite.navigation %}
          <li>
            <a href="{% if page.locale == 'en_US' and link.url_en %}{{ link.url_en }}{% else %}{{ link.url }}{% endif %}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      {%- endif -%}

      <p class="about-footer">
        <a href="https://icp.gov.moe" rel="noreferrer" target="_blank">Moe ICP </a>
        <a href="https://icp.gov.moe/?keyword=20201620" target="_blank" rel="noreferrer">20201620</a>
        <br>
        <a rel="noreferrer" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC-BY-SA-4.0</a>
      </p>
    </section>
    <section class="content">
      {{ content }}
    </section>
  </main>
  {%- if site.plainwhite.analytics_id -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.plainwhite.analytics_id }}');
  </script>
  {%- endif -%}
  {% include footer.html %}
</body>

</html>