<!DOCTYPE html>
<html lang="{% if page.locale == 'en-us' and site.multilingual == true %}en{% else %}zh{% endif %}">

<head>
  {%- include head.html -%}
</head>

<!-- Generate sidebar list for matching -->
{% if page.locale == 'en-us' and site.multilingual == true %}{% assign url_locale = "url_en" %}{% else %}{% assign url_locale = "url" %}{% endif %}
{% assign sidebar_list = site.plainwhite.sidebar | map: url_locale %}

<body data-controller="darkmode portal likes" data-likes-counts-value="{}">
  <main class="container main grid-canvas grid-contents" data-controller="about">

    {% include main-nav.html %}
    {% include about-aside.html position="top" %}
    {{ content }}

  </main>

  {% include search.html %}
  {% include toasts.html %}

  <div id="portal">
    <div id="portal__toast" data-controller="toasts"></div>
    <div id="portal__default" data-portal-target="portal"></div>
  </div>

  {%- if site.plainwhite.analytics_id -%}
  <script async
    src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', '{{ site.plainwhite.analytics_id }}');
  </script>
  {%- endif -%}
</body>

</html>