---
layout: default
---

{% comment %}
{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}
{% endcomment %}

{%- if site.posts.size > 0 -%}
<ul class="posts">
  <li class="posts-labelgroup">
    {% if page.url contains "wod" %}
    <h1 id="posts-label">wod</h1>
    {% else %}
    <h1 id="posts-label">posts</h1>
    {% endif %}
    <div class="search-container">
      <div class="search-section">
        <i class="icon-search"></i>
        <input type="text" name="search" id="searchbar" autocomplete="off">
      </div>
      <div class="search-results" id="search-results" data-placeholder="NO RESULTS"></div>
    </div>
  </li>



  {{ content }}

  {%- for post in paginator.posts -%}
  <li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <h2 class="post-title">{{ post.title | escape }}</h2>
      {% if post.subtitle %}
      <h3 class="post-subtitle">{{ post.subtitle }}</h3>
      {% endif %}
    </a>
    <div class="post-meta">
      <div class="post-categories">
        {%- for tag in post.tags -%}
        <a href="{{ site.baseurl }}/archive/?tag={{ tag | url_encode }}" title="{{ tag }}">{{ tag }}</a>
        {%- endfor -%}
      </div>
      <div class="post-date">
        <i class="icon-calendar"></i>
        {{ post.date | date: date_format }}</div>
    </div>
    <div class="post">
      {% if post.lang == 'en' %}
      {{ post.content | excerpt | strip_html | truncate:300 }}
      {% else %}
      {{ post.content | excerpt | strip_html | truncate:200 }}
      {% endif %}
    </div>
  </li>
  {%- endfor -%}
</ul>

<!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}

{% if paginator.total_pages > 1 %}
<ul class="pagination-links">
  {% if paginator.previous_page %}
  <li class="left">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">NEWER</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="right">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">OLDER</a>
  </li>
  {% endif %}
</ul>
{% endif %}