---
layout: default
---

{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}

<article class="post-container post-article grid-contents d-contents">
  <div class="post-actions d-flex row-reverse">
    <div class="share">
      <i class="icon-link" onclick='try {
        navigator.clipboard.writeText(window.location.href);
        const e = new Event("bake");
        document.getElementById("toast__copy-link").dispatchEvent(e);
        } catch (e) {
          console.log("Clipboard API is not supported.")
      }'></i>
      <i class="icon-share"></i>
    </div>

    {% if page.multilingual %}
    <div class="multilingual">
      {% include multilingual-sel.html %}
    </div>
    {% endif %}
  </div>

  <a class="post-link post-header" href="{{ page.url | relative_url }}">
    <h2 class="post-title">{{ page.title | escape }}</h2>
    {% if page.subtitle %}
    <h3 class="post-subtitle">{{ page.subtitle }}</h3>
    {% endif %}
  </a>

  <div class="post-meta">
    {% if page.tags %}
    <div class="post-tags">
      {%- for tag in page.tags -%}
      <a
        class="button tag"
        href="{{ site.baseurl }}/archive/?tag={{ tag | url_encode }}"
        title="{{ tag }}"
        >{{ tag }}</a
      >
      {%- endfor -%}
    </div>
    {% endif %}
    {% if page.date %}
    <div class="post-date">
      <i class="icon-calendar"></i>{{ page.date | date: date_format }}
    </div>
    {% endif %}
  </div>

  <div class="post-content grid-contents d-contents" data-controller="zooming">
    {% include anchor-headings.html beforeHeading=true anchorBody="#" html=content %}
  </div>

  <ul class="post-pager">
    {% if page.next.url %}
    <li class="pager--next">
      <a
        class="button"
        href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"
        data-toggle="tooltip"
        data-placement="top"
        title="{{page.next.title}}"
      >
        NEXT<br />
        <span>{{page.next.title}}</span>
      </a>
    </li>
    {% endif %} {% if page.previous.url %}
    <li class="pager--prev">
      <a
        class="button"
        href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"
        data-toggle="tooltip"
        data-placement="top"
        title="{{page.previous.title}}"
      >
        PREV<br />
        <span>{{page.previous.title}}</span>
      </a>
    </li>
    {% endif %}
  </ul>

  {% if site.valine %}
  <div id="vcomments" data-controller="valine"></div>
  {% endif %} {%- if site.plainwhite.disqus_shortname -%}
  <div id="disqus_thread" style="margin-top: 25px"></div>
  <script>
    var disqus_config = function () {
      this.page.url = "{{ page.url | absolute_url }}";
      this.page.identifier = "{{ page.url | absolute_url }}";
    };
    (function () {
      var d = document,
        s = d.createElement("script");
      s.src =
        "https://{{ site.plainwhite.disqus_shortname }}.disqus.com/embed.js";
      s.setAttribute("data-timestamp", +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript
    >Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow"
      >comments powered by Disqus.</a
    ></noscript
  >
  {%- endif -%}
</article>
